@use '../base/colors';
@use '../base/root';
@use '../base/mixins';

.banner {
  position: relative;

  color: colors.$light;
  text-align: center;

  &__title {
    margin: -20px auto 0 auto;
    max-width: 1200px;

    color: colors.$light;
    background-color: colors.$primary;
  }

  &__text {
    padding: 0 2em;
    font-size: 80%;
    margin: -1.5rem 0 0 0;
    color: colors.$light;
  }

  &__box {
    height: 230px;
    background-image: url(../../Components/Header/img/slavkaMobile.jpg);
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0px 80px;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;

    @include mixins.special(350px) {
      height: 280px;
    }

    @include mixins.special(485px) {
      height: 330px;
    }

    @include mixins.special(585px) {
      height: 430px;
      background-image: url(../../Components/Header/img/slavkaWeb.jpg);
    }

    @include mixins.special(700px) {
      height: 350px;
    }
    @include mixins.special(800px) {
      height: 400px;
    }

    @include mixins.special(950px) {
      height: 500px;
    }

    @include mixins.special(1400px) {
      height: 550px;
      background-position: center 80px;
    }
  }
}
