@use '../base/colors';
@use '../base/root';
@use '../base/mixins';

.banner {
  position: relative;
  background-color: colors.$primary;
  color: colors.$light;
  text-align: center;
  &__text {
    padding: 0 2em;
    font-size: 80%;
    margin: -1rem 0 0 0;
  }

  &__title {
    margin: -20px 0 0 0;
  }

  &__box {
    height: 300px;
    background-image: url(../../Components/Header/img/slavkaMobile2.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;

    @include mixins.special(500px) {
    }
    @include mixins.tablet {
      height: 400px;
      background-image: url(../../Components/Header/img/slavkaWeb.jpg);
    }

    @include mixins.large {
      height: 500px;
    }
  }
}
