@use '../base/colors';
@use '../base/root';
@use '../base/mixins';

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 150px;

  &__logo {
    cursor: pointer;
    padding: 20px;
  }

  &__hamburger {
    width: 50px;
    position: relative;
    height: 37px;
    right: 20px;
    top: 0;
    cursor: pointer;
    align-self: center;
    @include mixins.tablet {
      display: none;
    }
  }

  &__rows {
    background: #000000;
    background-size: 100% 7px;
    background-position: left top;
    background-repeat: no-repeat;
    width: 100%;
    height: 7px;
    display: block;
    top: 15px;
    left: 0;
    position: absolute;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    cursor: pointer;
    -webkit-box-shadow: 0 0 3px rgb(0 0 0 / 75%);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 3px rgb(0 0 0 / 75%);

    &::before {
      background: #000000;
      position: absolute;
      left: 0;
      content: '';
      top: -15px;
      left: 0;
      width: 100%;
      height: 7px;
      -webkit-transition: all 500ms;
      -moz-transition: all 500ms;
      -o-transition: all 500ms;
      transition: all 500ms;
      cursor: pointer;
      -webkit-box-shadow: 0 0 3px rgb(0 0 0 / 75%);
      -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
      box-shadow: 0 0 3px rgb(0 0 0 / 75%);
    }

    &::after {
      background: #000000;

      position: absolute;
      left: 0;
      content: '';
      bottom: -15px;
      left: 0;
      width: 100%;
      height: 7px;
      -webkit-transition: all 500ms;
      -moz-transition: all 500ms;
      -o-transition: all 500ms;
      transition: all 500ms;
      cursor: pointer;
      -webkit-box-shadow: 0 0 3px rgb(0 0 0 / 75%);
      -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
      box-shadow: 0 0 3px rgb(0 0 0 / 75%);
    }
  }
  &-open {
    position: absolute;
    top: 130px;
    left: 0;
    width: 100vw;
    z-index: 1000;
    background-color: colors.$dark;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    & a {
      color: colors.$light;
      text-decoration: none;
      height: 100%;
      display: block;
      padding: 1rem 0;
    }
  }

  &__item {
    height: 3rem;
    @include mixins.tablet {
      color: colors.$dark;
    }
  }
}

.navigation__large {
  display: none;

  @include mixins.tablet {
    display: flex;

    text-align: center;
    list-style-type: none;
    text-decoration: none;
    align-items: center;
    & a {
      text-decoration: none;
      height: 100%;
      display: block;

      padding: root.$spacer/2;
    }
  }
}
