@use '../base/colors';
@use '../base/root';
@use '../base/mixins';

.button {
  text-transform: uppercase;
  background-color: colors.$primary;
  border: none;
  color: colors.$light;
  font-weight: 600;
  padding: 0.7rem 1.4rem;
  box-shadow: 3px 3px 5px rgb(0 0 0 / 10%), 0 15px 35px 0 rgb(0 0 0 / 10%);

  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #7b4a5e;
  }
  &:active {
    box-shadow: 1px 1px 3px rgb(0 0 0 / 10%), 0 15px 35px 0 rgb(0 0 0 / 10%);
    transform: translate(2px, 2px);
  }

  &__link {
    color: colors.$dark;
    text-decoration: none;
    font-weight: 600;

    &--secondary {
      color: colors.$secondary;
      text-decoration: none;
      font-weight: 600;
    }
    &--form {
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__cv {
    text-align: center;
  }

  &--targetBlank {
    position: relative;
    &::after {
      content: '';
      right: 2px;
      bottom: 2px;
      width: 10px;
      height: 10px;
      background-image: url(../../Components/Home/img/targetBlank.svg);
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
    }
  }
}
