@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Montserrat:wght@100;400;600&display=swap");
.banner {
  position: relative;
  background-color: #582c3e;
  color: #fffafc;
  text-align: center;
}
.banner__text {
  padding: 0 2em;
  font-size: 80%;
  margin: -1rem 0 0 0;
}
.banner__title {
  margin: -20px 0 0 0;
}
.banner__box {
  height: 300px;
  background-image: url(../../Components/Header/img/slavkaMobile2.jpg);
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
}
@media screen and (min-width: 700px) {
  .banner__box {
    height: 400px;
    background-image: url(../../Components/Header/img/slavkaWeb.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .banner__box {
    height: 500px;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
}
@media screen and (min-width: 700px) {
  .navigation {
    height: 150px;
    align-items: flex-start;
  }
}
.navigation__logo {
  cursor: pointer;
  padding: 10px;
}
@media screen and (min-width: 700px) {
  .navigation__logo {
    padding: 32px 0 32px calc(root.$spacer / 2);
    height: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__logo {
    padding: 32px;
  }
}
.navigation__hamburger {
  width: 60px;
  position: relative;
  height: 37px;
  right: 20px;
  top: 0;
  cursor: pointer;
  align-self: center;
}
@media screen and (min-width: 700px) {
  .navigation__hamburger {
    display: none;
  }
}
.navigation__rows {
  background: #000000;
  background-size: 100% 7px;
  background-position: left top;
  background-repeat: no-repeat;
  width: 100%;
  height: 7px;
  display: block;
  top: 15px;
  left: 0;
  position: absolute;
  transition: all 500ms;
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
}
.navigation__rows::before {
  background: #000000;
  position: absolute;
  left: 0;
  content: "";
  top: -15px;
  left: 0;
  width: 100%;
  height: 7px;
  transition: all 500ms;
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
}
.navigation__rows::after {
  background: #000000;
  position: absolute;
  left: 0;
  content: "";
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 7px;
  transition: all 500ms;
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
}
.navigation-open {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100vw;
  z-index: 1000;
  background-color: #582c3e;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 24px;
  height: calc(100vh - 75px);
}
.navigation-open a {
  color: #fffafc;
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: block;
  padding: 1.5em 0;
}
.navigation-open a:hover {
  color: #582c3e;
  background-color: #dfc7d0;
}
.navigation-open a:active {
  color: #582c3e;
  background-color: #fffafc;
}
.navigation__item {
  height: 4em;
  line-height: 1em;
  margin: 0;
}
@media screen and (min-width: 700px) {
  .navigation__item {
    color: #0a0507;
    height: 150px;
  }
}

.navigation__hamburger.open .navigation__rows::before {
  transform: rotate(45deg);
  top: 0px;
}

.navigation__hamburger.open .navigation__rows {
  background: #fffafc;
  box-shadow: none;
}

.navigation__hamburger.open .navigation__rows::after {
  transform: rotate(-45deg);
  top: 0px;
}

.hamburger__close {
  position: absolute;
  top: -80px;
  right: 0px;
  height: 80px;
  width: 100px;
  z-index: 1000;
  background-color: transparent;
}

.navigation__large {
  display: none;
}
@media screen and (min-width: 700px) {
  .navigation__large {
    display: flex;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    align-items: center;
    height: 150px;
    margin: 0;
    padding: 0;
  }
  .navigation__large a {
    text-decoration: none;
    height: 150px;
    display: block;
    padding: calc(root.$spacer / 2);
  }
}
@media screen and (min-width: 700px) and (min-width: 1200px) {
  .navigation__large a {
    padding: 32px;
  }
}

.activeItem {
  background-color: #dfc7d0;
  color: #582c3e !important;
}
@media screen and (min-width: 700px) {
  .activeItem {
    background-color: #582c3e;
    color: #dfc7d0 !important;
  }
}

.footer {
  border-top: 1px solid #582c3e;
  padding: 1rem;
  text-align: center;
}

.page {
  width: 100vw;
  background: white;
  line-height: 1.5;
  font-size: 75%;
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin-bottom: 32px;
}

.cv__hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.foto {
  width: 60vw;
  margin: 2.5rem 20vw 1rem 20vw;
  border-radius: 5px;
  box-shadow: 5px 5px 5px -2px #582c3e;
}

.cv__title {
  position: absolute;
  font-family: "Montserrat", "Roboto", sans-serif;
  font-size: 250%;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #582c3e;
  font-weight: 700;
  font-style: italic;
  width: 100vw;
  top: 0;
}

.cv__h2 {
  font-family: "Montserrat", "Roboto", sans-serif;
  font-size: 150%;
  font-weight: bold;
  margin: 0;
  padding: 0.5rem 0;
  color: #582c3e;
  font-style: italic;
  text-align: left;
}

.cv__h3 {
  margin: 0.5em 0;
  font-size: 125%;
  color: #0a0507;
  font-weight: bold;
}

.cv__list {
  list-style-type: square;
  margin: 0.5em 0 0 0;
  padding-top: 0;
}

.noMargin {
  margin: 0;
}

.cv__link {
  color: #582c3e;
  cursor: pointer;
}

.cv__link:hover {
  background-color: #582c3e;
  color: #ffffff;
  border-radius: 5px;
}

.cv__link:active,
.cv__link:focus {
  background-color: #dfc7d0;
  color: #582c3e;
  border-radius: 5px;
  text-decoration: none;
}

.hero__rightSide {
  width: 100wv;
  padding-left: 0.5rem;
}

.contact {
  list-style-type: none;
  padding-left: 0;
}

.contact__phoneEmail {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}

.contact__phoneEmail a,
.contact__socialNetworks a,
.contact__address div,
.contact__address a {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

.contact__socialNetworks {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.contact__address {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.5rem;
}

.hero__rightSide img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.important {
  width: 95vw;
  padding: 0 0.5rem 0.5rem 0.5rem;
  margin-left: 0.5rem;
  background-color: #dfc7d0;
  border-radius: 5px;
}

.important__portfolio li {
  display: flex;
  justify-content: space-between;
}

.important ul {
  list-style-type: square;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.container__leftSide {
  width: 100vw;
  padding-left: 0;
}

.languages,
.aboutMe {
  padding-left: 1.5rem;
}

.education {
  padding-left: 0.5rem;
}

.container__rightSide {
  width: 100vw;
  padding: 0 0 0 1rem;
}

.courses {
  width: 95vw;
  background-color: #dfc7d0;
  margin-top: 0.5rem;
  margin-left: 1rem;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 5px;
}

.courses h2 {
  padding-bottom: 0;
}

.courses ul {
  margin-top: 0;
}

.logoCzechitas {
  height: 2rem;
  margin-left: 1rem;
}

.google {
  display: flex;
  align-items: center;
}

.logoCoursera {
  height: 0.5rem;
  margin: 0 1rem 0 1.5rem;
}

.logoGoogle {
  height: 1.5rem;
}

.logoUdemy {
  height: 1rem;
  margin-left: 1.5rem;
}

.work h2,
.education h2 {
  padding-bottom: 0;
}

.work {
  padding-left: 0.5rem;
}

.other {
  padding-left: 0.5rem;
  margin-bottom: 3rem;
}

.copyright {
  height: 1rem;
  padding-right: 1em;
}

@media (min-width: 500px) {
  .page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 1cm;
    margin: 32px auto;
    border: 1px #d3d3d3 solid;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  .cv__title {
    position: static;
    width: 100%;
  }

  .cv__hero {
    flex-direction: row;
    align-items: flex-end;
  }

  .foto {
    width: 36%;
    margin: 0;
  }

  .hero__rightSide {
    width: 64%;
    padding-left: 1rem;
  }

  .contact__address div,
.contact__address a {
    width: 35%;
  }

  .contact__phoneEmail a,
.contact__socialNetworks a,
.contact__address div,
.contact__address a {
    padding: 0;
  }

  .contact__phoneEmail,
.contact__address {
    padding-left: 30px;
  }

  .contact__phoneEmail a {
    width: 35%;
  }

  .important {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem 0.5rem 0.5rem;
    margin: 0;
  }

  .important__it {
    width: 40%;
  }

  .important__portfolio {
    width: 60%;
  }

  .container {
    flex-direction: row;
  }

  .contact__socialNetworks {
    justify-content: space-between;
  }

  .container__leftSide {
    width: 36%;
    padding-left: 0rem;
  }

  .container__rightSide {
    width: 64%;
    padding: 0 1rem 0 1.5rem;
  }

  .courses {
    padding-left: 0.5rem;
    margin-left: 0;
    width: 100%;
  }

  .languages,
.aboutMe {
    padding-left: 0.5rem;
  }

  .work {
    padding-left: 0;
  }

  .other {
    padding-left: 0;
    margin-bottom: 3rem;
  }

  .education {
    padding-left: 0;
  }
}
@page {
  size: A4;
  margin: 0;
}
@media print {
  .page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 1cm;
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }

  .important {
    border: 0.5px solid #582c3e;
    box-shadow: 5px 5px 5px -2px #582c3e;
  }

  .courses {
    border: 0.5px solid #582c3e;
    box-shadow: 5px 5px 5px -2px #582c3e;
  }

  /*prit A4 form mobile*/
  .cv__title {
    position: static;
    width: 100%;
  }

  .cv__hero {
    flex-direction: row;
    align-items: flex-end;
  }

  .foto {
    width: 36%;
    margin: 0;
  }

  .hero__rightSide {
    width: 64%;
    padding-left: 1rem;
  }

  .contact__address div,
.contact__address a {
    width: 35%;
  }

  .contact__phoneEmail a,
.contact__socialNetworks a,
.contact__address div,
.contact__address a {
    padding: 0;
  }

  .contact__phoneEmail,
.contact__address {
    padding-left: 30px;
  }

  .contact__phoneEmail a {
    width: 35%;
  }

  .important {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem 0.5rem 0.5rem;
    margin: 0;
  }

  .important__it {
    width: 40%;
  }

  .important__portfolio {
    width: 60%;
  }

  .container {
    flex-direction: row;
  }

  .contact__socialNetworks {
    justify-content: space-between;
  }

  .container__leftSide {
    width: 36%;
    padding-left: 0rem;
  }

  .container__rightSide {
    width: 64%;
    padding: 0 1rem 0 1.5rem;
  }

  .courses {
    padding-left: 0.5rem;
    margin-left: 0;
    width: 100%;
  }

  .languages,
.aboutMe {
    padding-left: 0.5rem;
  }

  .work {
    padding-left: 0;
  }

  .other {
    padding-left: 0;
    margin-bottom: 0;
  }

  .education {
    padding-left: 0;
  }
}
.item {
  text-align: center;
  margin: 32px 0;
  border-radius: 8px;
  background-color: #fffafc;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1), 0 15px 35px 0 rgba(0, 0, 0, 0.05);
  transition: all 120ms ease;
}
@media screen and (min-width: 500px) {
  .item {
    margin: 0 32px calc(root.$xLarge + root.$spacer/2) 32px;
  }
}
@media screen and (min-width: 800px) {
  .item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
.item__img {
  width: 100%;
  border-radius: 8px 8px 0 0;
  display: block;
}
@media screen and (min-width: 800px) {
  .item__img {
    width: 100%;
    border-radius: 8px 0 0 8px;
  }
}
.item__text {
  padding: 32px;
}
@media screen and (min-width: 800px) {
  .item__text {
    padding: 0 0 0 32px;
    text-align: left;
  }
}
.item__id {
  font-size: 48px;
  margin: 0;
}
.item__title {
  margin-top: 0;
}

@media (min-width: 480px) {
  .instagram__mobile {
    display: none;
  }
}
.instagram__tablet {
  display: none;
}
@media (min-width: 480px) {
  .instagram__tablet {
    display: inline-block;
  }
}
@media (min-width: 768px) {
  .instagram__tablet {
    display: none;
  }
}
.instagram__web {
  display: none;
}
@media (min-width: 768px) {
  .instagram__web {
    display: inline-block;
  }
}

.instagram-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
@media (min-width: 480px) {
  .instagram-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 768px) {
  .instagram-gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

.instagram-image {
  width: 100%;
}

@media screen and (min-width: 500px) {
  .skills__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 16px;
  }
}
@media screen and (min-width: 700px) {
  .skills__grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .skills__grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.skills__item {
  background-image: url(../../Components/Skills/img/kolo.svg);
  background-position: top center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  text-align: center;
  padding: 32px;
  margin: 16px 0;
}
@media screen and (min-width: 500) {
  .skills__item {
    background-size: auto 90%;
  }
}
.skills__icon {
  height: 3rem;
}
@media screen and (min-width: 500) {
  .skills__icon {
    margin-top: 64px;
    height: 4rem;
  }
}
.skills__title {
  font-size: 125%;
  margin-bottom: 0;
  margin-top: 0;
}
@media screen and (min-width: 500) {
  .skills__title {
    margin-bottom: 64px;
  }
}

.required {
  color: #c73e1d;
}

.form {
  width: 100%;
}
@media screen and (min-width: 900px) {
  .form {
    max-width: 600px;
  }
}
.form__button {
  display: flex;
  justify-content: center;
}
.form__field {
  margin-bottom: 16px;
}
.form__label {
  font-size: 14px;
  color: #0a0507;
}
.form__input {
  width: 100%;
  outline: 0;
  border: 1px solid #0a0507;
  border-radius: 3px;
  padding: 0.5rem 1rem;
}
.form__input:focus, .form__input:active {
  border: 2px solid #582c3e;
  border-left: 5px solid #582c3e;
  outline: 0;
}
.form__legend {
  font-size: 14px;
  color: #0a0507;
}
.form__textarea {
  width: 100%;
  border: 1px solid #0a0507;
  border-radius: 3px;
  padding: 0.5rem 1rem;
}
.form__textarea:focus, .form__textarea:active {
  border: 2px solid #582c3e;
  border-left: 5px solid #582c3e;
  outline: 0;
}

.email__valid,
.input__valid {
  border: 2px solid #337357;
  border-left: 5px solid #337357;
}

.email__invalid,
.input__invalid {
  border: 2px solid #c73e1d;
  border-left: 5px solid #c73e1d;
}

.error-message {
  color: #c73e1d;
  text-align: center;
  font-weight: 600;
}

.form-message {
  font-size: 24px;
  color: #4a6fa5;
}

.button {
  text-transform: uppercase;
  background-color: #dfc7d0;
  border: none;
  color: #582c3e;
  font-weight: 600;
  padding: 0.7rem 1.4rem;
  box-shadow: 3px 3px 5px #582c3e;
  cursor: pointer;
}
.button:active {
  box-shadow: 1px 1px 3px #582c3e;
  transform: translate(2px, 2px);
}
.button__link {
  color: #0a0507;
  text-decoration: none;
  font-weight: 600;
}
.button__link--secondary {
  color: #fcdc4d;
  text-decoration: none;
  font-weight: 600;
}
.button__link--form {
  margin-left: auto;
  margin-right: auto;
}
.button__cv {
  text-align: center;
}

.button--secondary {
  background-color: transparent;
  color: #fcdc4d;
  border: 1px solid #fcdc4d;
}

.section__buttons {
  display: flex;
  justify-content: space-between;
}
.section__buttons--one {
  justify-content: flex-end;
}

.button--right {
  text-align: end;
}

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", "Roboto", sans-serif;
  font-size: 16px;
  background-color: #fffafc;
  color: #0a0507;
  line-height: 1.8;
  margin: 0;
  position: relative;
  max-width: 1320px !important;
  margin: 0 auto;
}

h1,
h2,
h3 {
  color: #582c3e;
}

h1 {
  text-align: center;
  color: #dfc7d0;
  font-family: "Grand Hotel", cursive;
  font-size: 400%;
  font-weight: 200;
}

h2 {
  text-align: center;
  font-size: 300%;
  font-family: "Grand Hotel", cursive;
  font-weight: 200;
}

h3 {
  font-size: 200%;
  font-weight: 400;
}

.main {
  padding: 16px;
}
@media screen and (min-width: 700px) {
  .main {
    padding: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.banner__img {
  width: 100vw;
  max-width: 100%;
}

.bold {
  font-weight: 600;
}/*# sourceMappingURL=App.css.map */